<div class="form-group row">
  <div class="col-sm-2">配布場所</div>
  <div class="col-sm-10"><%= @micropost.spot %></div>
</div>

<br>

<div class="form-group row">
  <div class="col-sm-2">投稿ユーザー</div>
  <div class="col-sm-10"><%= @micropost.user.name %></div>
</div>

<br>

<div class="form-group row">
  <div class="col-sm-2">更新日時</div>
  <div class="col-sm-10"><%= @micropost.updated_at %></div>
</div>

<br>

<div class="form-group row">
  <div class="col-sm-2">コメント</div>
  <div class="col-sm-10"><%= @micropost.comment %></div>
</div>



<div class="form-group row">
  <div class="col-sm-2"></div>
  <div class="col-sm-10"><%= render 'favorites/favorite_button', micropost: @micropost %></div>
</div>

<% if current_user == @micropost.user %>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-5"><%= link_to '編集', edit_micropost_path(@micropost), class: 'btn btn-info btn-block' %></div>
    <div class="col-sm-5"><%= link_to '削除', @micropost, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-secondary btn-block' %></div>
  </div>
<% end %>

<!--グーグルマップ追加-->
<div id="map" style="height: 500px;"></div>

<script>
  //代入
  var lat = <%= @micropost.latitude %>;
  var lng = <%= @micropost.longitude %>;
  
  // マップを作成
  function initMap() {
    // 位置を緯度経度で指定
    var pos = {lat: lat, lng: lng};
    // マップの中心を指定
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 15, center: pos});
    // マーカーの位置を指定
    var marker = new google.maps.Marker({position: pos, map: map, draggable: true});
  }
</script>
<!--グーグルマップ追加　おわり-->
